- var splitCopyright = footer.data.copyright.split(" - ")
- var copyright = splitCopyright.length >= 2 ? [footer.data.copyright.split(" - ")[0].trim(), "-", footer.data.copyright.split(" - ")[1].trim()] : splitCopyright

footer.footer
    p.footer__copyright(data-animation="fade")
        span=copyright[0]
        span.footer__dash=copyright[1]
        span=copyright[2]
    p.footer__privacyPolicy(data-animation="fade")
        a.footer__ppLink(target="_blank" href=footer.data.privacy_policy)=footer.data.dev_and_design