- var devAndDesign = [footer.data.dev_and_design.split(" - ")[0].trim(), "-", footer.data.dev_and_design.split(" - ")[1].trim()]

footer.footer
    p.footer__copyright(data-animation="fade")=footer.data.copyright
    p.footer__devAndDesign(data-animation="fade")
        span.footer__dev=devAndDesign[0]
        span.footer__dash=devAndDesign[1]
        span.footer__design=devAndDesign[2]