.options 

    button.options__button.options__darkTheme
        svg.options__darkTheme__icon.options__darkTheme__icon--off(viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill="currentColor" d="M5.74624 7.68782C5.74459 6.2323 6.0543 4.79327 6.65459 3.46731C7.25489 2.14134 8.13187 0.959124 9.22668 0C7.62193 0.158285 6.07729 0.693558 4.71869 1.56218C3.36009 2.4308 2.22599 3.60819 1.40884 4.99835C0.591683 6.38851 0.114612 7.95211 0.0165142 9.56166C-0.0815841 11.1712 0.202068 12.7812 0.844345 14.2603C1.48662 15.7394 2.46934 17.0458 3.7124 18.073C4.95545 19.1002 6.42365 19.8191 7.99731 20.1711C9.57096 20.5231 11.2055 20.4982 12.7678 20.0985C14.33 19.6988 15.7756 18.9356 16.9869 17.8711C16.6722 17.9026 16.3197 17.9215 15.9799 17.9215C13.2658 17.9215 10.6628 16.8433 8.7436 14.9241C6.82442 13.0049 5.74624 10.402 5.74624 7.68782Z")

        svg.options__darkTheme__icon.options__darkTheme__icon--on(viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill="currentColor" d="M15.3778 10.7237C15.798 7.52371 13.5445 4.58898 10.3446 4.16878C7.14458 3.74858 4.20985 6.00203 3.78965 9.20201C3.36945 12.402 5.6229 15.3367 8.82288 15.7569C12.0229 16.1771 14.9576 13.9237 15.3778 10.7237Z")
            path(fill="currentColor" d="M10.4672 0H9.5332V2.45298H10.4672V0Z")
            path(fill="currentColor" d="M5.40257 1.09631L4.59375 1.56348L5.82061 3.68761L6.62943 3.22045L5.40257 1.09631Z")
            path(fill="currentColor" d="M1.8264 4.11756L1.35938 4.93018L3.49347 6.15667L3.96049 5.34405L1.8264 4.11756Z")
            path(fill="currentColor" d="M2.45298 9.53296H0V10.467H2.45298V9.53296Z")
            path(fill="currentColor" d="M3.2303 13.3712L1.10596 14.5977L1.57298 15.4066L3.69732 14.1801L3.2303 13.3712Z")
            path(fill="currentColor" d="M5.82794 16.3143L4.60107 18.4385L5.4099 18.9056L6.63676 16.7815L5.82794 16.3143Z")
            path(fill="currentColor" d="M10.4672 17.5471H9.5332V20.0001H10.4672V17.5471Z")
            path(fill="currentColor" d="M14.1766 16.2886L13.3677 16.7556L14.5942 18.88L15.4031 18.4129L14.1766 16.2886Z")
            path(fill="currentColor" d="M14.1766 16.2886L13.3677 16.7556L14.5942 18.88L15.4031 18.4129L14.1766 16.2886Z")
            path(fill="currentColor" d="M16.771 13.3685L16.3037 14.1772L18.4276 15.4045L18.8949 14.5957L16.771 13.3685Z")
            path(fill="currentColor" d="M19.9999 9.53296H17.5469V10.467H19.9999V9.53296Z")
            path(fill="currentColor" d="M18.4256 4.58796L16.3013 5.81445L16.7683 6.62336L18.8926 5.39687L18.4256 4.58796Z")
            path(fill="currentColor" d="M14.6019 1.11464L13.375 3.23877L14.1838 3.70593L15.4107 1.5818L14.6019 1.11464Z")


        p.options__darkTheme__text.options__darkTheme__text--off=options.data.options[1].option_one
        p.options__darkTheme__text.options__darkTheme__text--on=options.data.options[1].option_two

    button.options__button.options__sound
        .options__sound__icon
            span.options__sound__pulse.options__sound__pulse--1
            span.options__sound__pulse.options__sound__pulse--2
            span.options__sound__pulse.options__sound__pulse--3
        p.options__sound__text.options__sound__text--on=options.data.options[0].option_one
        p.options__sound__text.options__sound__text--off=options.data.options[0].option_two

