.social
    align-items: center
    display: flex
    flex-direction: column
    right: 9.7rem
    position: fixed
    top: 50%
    transform: translateY(-50%)
    z-index: z('header')

    &__list
        align-items: center
        display: flex
        flex-direction: column
        gap: 2rem

        &__item
            @extend %center

        &__link

            svg
                height: 3.4rem
                max-width: 3rem
