.music__albums
    display: grid
    /* justify-content: space-between */
    margin-top: 17.3rem
    grid-template-columns: repeat(3, $desktop_cards-size)
    gap: calc(((100vw - ($desktop_horizontal-page-padding * 2)) - ($desktop_cards-size * 3)) / 2 )

    @include media('<tablet')
        margin-top: 13.2rem
        grid-template-columns: repeat(3, $tablet_cards-size)
        gap: calc(((100vw - ($tablet_horizontal-page-padding * 2)) - ($tablet_cards-size * 3)) / 2 )

    @include media('<phone')
        display: flex
        flex-direction: column
        gap: 0.9rem
        justify-content: flex-start
        margin-top: 6.5rem

    &__card
        height: $desktop_cards-size
        width: $desktop_cards-size

        @include media('<tablet')
            height: $tablet_cards-size
            width: $tablet_cards-size

        @include media('<phone')
            height: 32.2rem
            width: 32.2rem

    &__link
        display: block
        height: 100%
        width: 100%

    &__image
        @extend %center

        height: 100%
        overflow: hidden
        width: 100%

        &__content
            min-height: 100%
            min-width: 100%
