%page
  left: 0
  position: relative
  top: 0
  width: 100%

/**   opacity: 0
 visibility: hidden **/
  z-index: z('content')

%page--active
  opacity: 1
  visibility: visible

%page__wrapper
  color: inherit
