:root[data-theme="theme-light"]
  --text-color: #2F2F2F
  --bg-color: #F8F8F8

:root[data-theme="theme-dark"]
  --text-color: #F8F8F8
  --bg-color: #2F2F2F

$text-color: var(--text-color)
$bg-color: var(--bg-color)
$dark-color: #2F2F2F
$light-color: #F8F8F8

$font-spartan: 'Spartan'
$font-sunflower: 'Sunflower'

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1)

$z-indexes: 'preloader', 'transition', 'menu', 'header', 'content', 'canvas'
