extends ../base.pug 

block variables 
    - var template = "error"

block content
    .error
        section.error__wrapper
            p.error__number="404"
            p.error__text="Page not found"