.home
  @extend %page

  overflow: hidden
  text-align: center

  &--active
    @extend %page--active

  &__wrapper
    padding: 24.3rem 39.8rem

    @include media('<tablet')
      padding: 23.2rem 10.5rem

    @include media('<phone')
      padding: 11.7rem 2rem 22rem

  &__title
    @extend %title-134

    @include media('<phone')
      letter-spacing: -0.09rem

  &__subtitle
    @extend %subtitle-30

    margin-top: 5.5rem

    @include media('<tablet')
      margin-top: 5.1rem

    @include media('<phone')
      margin-top: 4.1rem

  &__image
    @extend %center

    height: 70.3rem
    margin: 7.1rem auto 0
    overflow: hidden
    width: 109.2rem

    @include media('<tablet')
      margin-top: 4rem
      height: 49.3rem
      width: 80.7rem

    @include media('<phone')
      margin-top: 3.1rem
      height: 32.5rem
      width: 33.5rem

    &__content
      min-height: 100%
      min-width: 100%

  &__text
    @extend %description-30

    line-height: 2
    margin-left: 1.3rem
    margin-top: 7.6rem
    text-align: left

    @include media('<tablet')
      letter-spacing: -.09rem
      line-height: 2.15
      margin-left: 0
      margin-top: 7.9rem

    @include media('<phone')
      letter-spacing: 0rem
      line-height: 2.61
      margin-left: 0.7rem
      margin-top: 3.2rem

    strong
      font-weight: 700
      text-decoration: underline

  &__spotifyLink
    color: $bg-color
    transition: color .3s

    &__button
      @extend %button-30

      background: $text-color
      margin-top: 12.5rem
      height: 11rem
      transition: background .3s, opacity .3s
      width: 53.2rem

      &:hover
        opacity: .7

        @include media('<tablet')
          opacity: 1

      @include media('<tablet')
        height: 10rem
        margin-top: 4.6rem

      @include media('<phone')
        height: 4.2rem
        margin-top: 3.4rem
        width: 32.7rem
